<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OrthoVar</title>
        <link rel="icon" href="static/styles/images/OV-logos_transparent.png"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    </head> 
    
    <body> 
    <header class="header">
      <h1><a href="/"> <img src="../static/styles/images/OrthoVar-logos_transparent.png" width="600" height="600"> </a></h1>
    </header>
    <!-- <header class="header">
      <h1><a href="/"> OrthoVar </a></h1>
    </header> -->
      
      <div class = "row">

        <form action= "" method = "POST" enctype="multipart/form-data">
          <div class = "column">
            <p> Enter Human Fasta File </p>
            <input type = "file" name = "Human_Fasta_File" accept= ".fasta, .txt" />
          </div>

          <div class = "column">
            <p> Enter Orthologs Fasta File </p>
            <input type = "file" name = "Orthologs_Fasta_File" accept= ".fasta, .txt" />
            <input type = "submit"/>
          </div>
        </form>    
         
      </div>
    
      <footer class="footer">
        <p>Please direct questions about OrthoVar to <a href="https://deborahthurtleschmidt.com/About_Me.html">Dr. Debbie Thurtle-Schmidt</a>.</p>
        <p>To download the source code, <a href="https://github.com/tsega2130/find_orthologs.git">click here</a>.</p>
        <p>Powered by <a href="https://www.ncbi.nlm.nih.gov/clinvar/">NCBI</a></p>
      </footer>

    </body>

</html>